.exercise-container{
    height: 500px;
    font-family: 'Montserrat', sans-serif;
}
.ex-bar{
    width: 400px;
    margin: 25px 50px;
}
.ex-card{
    width: 752px;
    height: auto;
    background: pink;
    margin: 35px;
}

.ex-tab{
    text-align: left;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 25px;
}
.ex-tab-main{
    height: 85px;
    font-size: 1.5rem;
}

.ex-btn{
    background: #BB1333;
    border-radius: 24px;
}
.ex-btn-2{
    background: #FFFFFF;
    border: 2px solid #BB1333;
    border-radius: 24px;
}
.ex-title{
    
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.ex-body{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 16px;
    /* identical to box height, or 67% */
    letter-spacing: 0.04em;
    text-transform: uppercase;
}
