.exercise-container{
    height: 500px;
    font-family: 'Montserrat', sans-serif;
}
.ex-bar{
    width: 400px;
    margin: 25px 50px;
}
.ex-card{
    width: 752px;
    height: auto;
    background: #D3D4D8;
    margin: 35px;
}

.ex-tab{
    text-align: left;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 25px;
}
.ex-tab-main{
    height: 85px;
    font-size: 1.5rem;
}

.ex-btn{
    background: #BB1333;
    border: 2px solid white;
    border-radius: 24px;
    padding: 5px;
    margin: 5px;
}
.ex-btn-2{
    background: white;
    border: 2px solid #BB1333;
    border-radius: 24px;
    padding: 5px;
    margin: 5px;
}
.ex-title{
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.ex-body{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 16px;
    /* identical to box height, or 67% */
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.addBtn {
    padding: 5px;
    margin: 3px;
    background-color: #BB1333;
    width: 150px;
    height: 50px;
    border-radius: 5px;
}

.backGround {
    background: #8C142B;
    border-radius: 5px;
}
